<!-- <table>
  <tr>
    <th>
      Company name
    </th>
  </tr>
  <tr *ngFor="let abc of vacantDetail">
    <td>{{abc.Company_name}}</td>
  </tr>
</table> -->
<!-- add comment -->

  <hr>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
<table datatable *ngIf="vacantDetail.length > 0"  class="table table-hover table-striped table-bordered" cellspacing="0"
width="100%">
<thead class="indigo white-text">
    <tr>
      <th>Name</th>
      <th>Vacant Type</th>
      <th>Technologies</th>
      <th>Start Date</th>
      <th>End Date</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of vacantDetail" class="table-row" (click)="viewVacantDetail(item)">
      <td>{{item.Company_name}}</td>
      <td>{{item.vacant_title}}</td>
      <td>{{item.expertise_area}}</td>
      <td>{{item.start_date}}</td>
      <td>{{item.end_date}}</td>
    </tr>
    </tbody>
    </table>
  <!-- </div> -->
    <hr>

