@media only screen and (max-width: 767px){
  .show{
    display: inline-flex;
    margin-top: 391px;
    margin-left: 11%;
  }

  .navGtion{
    text-align: center;
    position: absolute;
  }

  .header-area .menu-wrapper {
    display: block;
  }
}


